# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
cube_sdl/cube_sdl.xcodeproj/project.xcworkspace/xcuserdata
cube_sdl/build
cube_sdl/cube_sdl.xcodeproj/xcuserdata
